.u-section-1 .u-sheet-1 {
  min-height: 568px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Ubuntu Mono";
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Ubuntu Mono";
  margin: -6px 695px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 0 22px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 495px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}